
  <body>
    <div class="bd-image">
      <main>
        <h2 class="title">Welcome to CSE Motors!</h2>
        <%- messages() %>
        <div class="hero-container">
          <img src="/images/vehicles/delorean.jpg" alt="Hero Image" />
          <div class="small-sec">
            <h3>DMC Delorean</h3>
            <p>3 cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dicel</p>
            <button class="own-btn">Own Today</button>
          </div>
        </div>
        <div id="details">
          <div class="review-container">
            <h2>DMC Delorean Review2</h2>
            <ul>
              <li>"So fast it's almost like traveling in time" (4/5)</li>
              <li>"Coolest ride on the road"(4/5)</li>
              <li>"I'm feeling McFly!"(5/5)</li>
              <li>"The most futuristic ride of our day"(4.5/5)</li>
              <li>"80s livin and I love it"(5/5)</li>
            </ul>
          </div>
          <div class="ugrades">
            <h2>Delorean Upgrades</h2>
            <div>
              <img src="/images/upgrades/flux-cap.png" alt="Flame Decals" />
              <a href="#">Flame Decals</a>
            </div>
            <div>
              <img src="/images/upgrades/flame.jpg" alt="Flux Capacitor" />
              <a href="#">Flux Capacitor</a>
            </div>
            <div>
              <img
                src="/images/upgrades/bumper_sticker.jpg"
                alt="Bumper Stickers"
              />
              <a href="#">Bumper Stickers</a>
            </div>
            <div>
              <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" />
              <a href="#">Hub Caps</a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
