/******* Change Box Model ***************/
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
/* Error handling style============== */
.errors {
  text-align: center;
}

/* SESSION ERROR Styling ==================*/
.notice,
.notices {
  padding: 0px;
  margin-top: 10px;
  color: #a82828;
  font-weight: bold;
  list-style-type: none;
}
.add-class-error,
.add-class-errors {
  padding: 5px;
  background-color: #8fa52b;
  color: #000;
  border-radius: 10px;
  width: 95%;
}
.add-class-errors {
  text-align: center;
  margin: 10px auto;
  background-color: rgb(216, 20, 20);
  color: #fff;
}
.add-class-error span {
  font-weight: bold;
}
.notices {
  padding: 10px;
  list-style-type: disc;
}
/* header CSS styling ====================== */
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10px;
}
#top-header a {
  text-decoration: none;
  color: #000;
}
#top-header span {
  font-size: 1.5rem;
  font-weight: bolder;
}
#top-header span:hover {
  color: rgb(30, 30, 119);
}

#top-header div a:hover {
  color: rgb(30, 30, 119);
  text-decoration: underline;
}

/* nav CSS styling ==================== */
nav ul {
  margin: 0px;
  background-color: #020235;
  color: #fff;
  list-style-type: none;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 20px;
}
nav ul a {
  color: #fff;
  text-decoration: none;
}
nav ul a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

/* index js css styling=================== */
.title {
  margin-bottom: 0px;
}
.hero-container {
  position: relative;
}
.hero-container img {
  width: 100%;
}

.small-sec {
  position: absolute;
  top: 0%;
  left: 10px;
  width: 10rem;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 10px;
}
.small-sec p,
.small-sec h3 {
  margin: 5px;
  color: #fff;
}

.small-sec button {
  width: 85%;
  padding: 0.8rem;
  font-weight: bolder;
  background-color: #020235;
  color: #fff;
  border: none;
  transition: ease-in-out 0.3s;
}
.small-sec button:hover {
  background-color: green;
}
#details {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem auto;
}
.review-container ul {
  padding-left: 20px;
}
.ugrades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.ugrades h2 {
  grid-column: 1/-1;
}
.ugrades div {
  background-color: #020235;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.ugrades div a {
  color: #fff;
}

/* classification vehicle styles============ */
#inv-display {
  width: 100%;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
#inv-display a {
  font-size: 1rem;
}
#inv-display img {
  width: 100%;
}
#inv-display li {
  border-radius: 1rem;
  border: 1px solid #999;
  overflow: hidden;
  text-align: center;
  font-weight: bolder;
  max-width: 12rem;
}
#inv-display hr {
  border: 3px solid #000;
  width: 100%;
}

#inv-display .namePrice {
  padding-bottom: 10px;
}
/* car details style ============================== */
#car-detail {
  margin-top: 2rem;
}
.car-detail {
  display: grid;
  grid-template-columns: 1fr;
}
.car-detail h3 {
  font-size: 1.3rem;
  text-decoration: underline;
}
.car-detail p {
  padding: 5px;
}
.car-detail p:nth-child(even) {
  background-color: #e4e4f0;
}
.car-detail .price {
  color: rgb(122, 33, 33);
  font-weight: bolder;
}
.price span {
  color: #000;
  font-weight: bold;
}
.car-detail span {
  font-weight: bolder;
  font-size: 1.2rem;
}
.car-detail img {
  width: 100%;
}
/* footer style====================================== */
footer {
  margin-top: 1rem;
  text-align: center;
}

/*LogIn Input styling================================== */
.login-container {
  background-color: #020235;
  color: #fff;
  margin: 0px auto;
  width: 100%;
  max-width: 30rem;
  padding: 10px;
  padding-top: 2rem;
  border-radius: 1rem;
  text-align: center;
}

.login-container label {
  display: block;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  margin-left: 1rem;
}
.login-container input {
  padding: 0.65rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  width: 95%;
  outline: 1px solid blue;
  border: none;
}

.login-container button {
  font-size: 1rem;
  margin: 10px auto;
  display: block;
  padding: 0.65rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 95%;
  background-color: gray;
  color: #000;
}
.login-container button:hover {
  background-color: green;
  color: #fff;
}
.login-container p {
  padding: 1rem;
}
.login-container a {
  color: #c5ee10;
}
input:required {
  border-left: 2px solid red;
  outline: none;
  padding: 5px;
}
input:valid {
  border-left: 2px solid green;
}
.login-container a:hover {
  color: #fff;
}

/* Register styling=============================== */
.register {
  border: 1px solid #999;
  border-radius: 1rem;
  padding: 20px 0px;
}
#account_password {
  margin-bottom: 0px;
}
#register {
  position: relative;
}
.fa {
  position: absolute;
  top: 55%;
  right: 15%;
  color: #000;
  font-size: 20px;
  font-weight: bolder;
}
.password-title {
  width: 95%;
  max-width: 20rem;
  margin: 0px auto;
  font-style: italic;
  font-weight: 100;
}
.register button {
  margin-top: 2rem;
}

/* Vehicle Management styling========================= */
.vehicle-management {
  padding: 3rem 1rem;
}
.vehicle-management ul li {
  list-style-type: none;
  padding: 0.5rem;
}
#class-form {
  background-color: #020235;
  color: #fff;
  width: 98%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem 10px;
  border-radius: 10px;
}
#class-form legend,
#class-form span {
  font-style: italic;
  font-weight: bold;
}
#class-form p {
  margin-bottom: 2rem;
}
#class-form label {
  font-weight: bolder;
  width: 100%;
  font-size: 1.1rem;
}
#class-form input,
#class-form button {
  display: block;
  width: 100%;
  padding: 0.65rem;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
}
#class-form input:required {
  border-left: 3px solid red;
}
#class-form input:valid {
  border-left: 3px solid green;
}
#class-form button {
  font-weight: bolder;
  font-size: 1rem;
  background-color: #daa520;
  margin: 15px 0px;
}
#class-form button:hover {
  background-color: green;
  color: #fff;
}
/* Large View CSS styling=============================== */
@media (min-width: 700px) {
  body {
    background-image: url("../images/site/small_check.jpg");
    padding: 1rem 5rem;
  }
  #wrapper {
    border: 5px solid #020235;
    border-radius: 1rem;
    background-color: #fff;
    padding: 1rem;
    z-index: 2;
  }
  .small-sec {
    width: 15rem;
  }
  .small-sec p,
  .small-sec h3 {
    margin: 10px;
  }
  .small-sec h3 {
    font-weight: bolder;
  }
  #details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
    gap: 20px;
  }
  .review-container li {
    margin: 1rem 0;
  }

  /* car Details style large */
  .car-detail {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  /* Input login style */
  .login-container {
    padding: 1rem;
    padding-top: 2rem;
  }
  .login-container label,
  .password-title {
    margin-left: 3rem;
  }
  .login-container input,
  .login-container button {
    width: 80%;
  }

  /*add class form*/
  #class-form {
    padding: 2rem 3rem;
  }
  /* notice styles */
  .add-class-error {
    width: 70%;
  }
}
