<div>
  <h1><%= title %></h1>
  <%- messages() %>
  <div class="login-container">
    <form class="register">
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" required />

      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" required />

      <label for="account_email">Email Address:</label>
      <input
        type="email"
        id="account_email"
        name="account_email"
        required
        placeholder="@email"
      />

      <label for="account_password">Password:</label>
      <input
        type="password"
        id="account_password"
        name="account_password"
        required
      />

      <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/account/Login">Sign In</a>.</p>
  </div>
</div>
